.block-connect-wallet{
    text-align: center;
    color: rgb(40, 13, 95)!important;
}
.block-connect-wallet p{
    color: rgb(40, 13, 95)!important;
}

.modal-connect .ant-modal-header {
    -webkit-box-align: center;
    align-items: center;
    background: linear-gradient(
139.73deg, rgb(61 222 52) 0%, rgb(32 162 42) 100%);
    border-bottom: 1px solid rgb(231, 227, 235);
    /*display: flex;*/
    /*padding: 12px 24px;*/
}
.block-connect-wallet button{
    background: none;
}
.block-connect-wallet button:hover{
    opacity: 0.5;
}

.single-pick .body-area input {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    background: #ededff;
    background-image: -o-linear-gradient(
180deg, #56CCF2 0%, #2F80ED 100%);;
    background-image: linear-gradient(
180deg, #56CCF2 0%, #2F80ED 100%);
    -webkit-box-shadow: 0px 7px 7px 0px rgb(243 42 126 / 23%);
    box-shadow: 0px 7px 7px 0px rgb(243 42 126 / 23%);
    color: #fff;
    border-radius: 50%;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wallet-logo {
    align-self: center;
    fill: rgb(31, 199, 212);
    flex-shrink: 0;
}




.details-box{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
    box-shadow: 0px 3px 43px 0px rgb(12 0 255 / 10%);
    background: #ffffff;
    outline: none;
}
.details {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
}

.detail-btn {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: none;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
}
.detail-btn:focus{
    outline: none;
}

.match-first-title{
    color: #2F80ED;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}
.match-reward{
    color: rgb(40, 13, 95);
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
}
.match-reward-sub{
    color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

.match-reward-each{
    color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}
.match-reward-count{
        color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px
}
.prize-pot{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;}

.totalPot{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
}
.left-detail{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.box-details-inner{
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 3px 43px 0px rgb(12 0 255 / 10%);
}

.input-round-wrapper{
    border-radius: 10px;
    text-align: center;
}

.custom-button-add-ticket {
    background-image: linear-gradient(0deg, #007bff 0%, #007bff 100%)
}

.result-list .single-list .light-area .light-area-bottom .left .numbers span{
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 26px;
}

.result-list .single-list .light-area .light-area-bottom .left p{
    line-height: 50px;
}

.input-number-inner{
    width: 60px;
    height: 100%;
    padding: 4px 16px;
    background-color: rgb(238, 234, 244);
    border-radius: 16px;
    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
    color: rgb(40, 13, 95);
    font-size: 16px;
    height: 48px;
    outline: 0px;
    padding: 0px 16px;
    border: 1px solid rgb(215, 202, 236);
}

.result-list .single-list .light-area .light-area-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pick-number-area .single-pick .body-area ul li span{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;

}

.single-pick .body-area input{
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding-left:0px;
    text-align: center;
}

.pick-number-area{
    border: 1px solid #e0e0e0;
}

.ant-modal-close-x, .ant-modal-close{
    display: none;
}

.pick-number-area .single-pick .body-area{
    text-align: center;
}

.block-connect-wallet button{
    border: none;
}

.btn-top {
    background: linear-gradient(180deg, #56CCF2 0%, #2F80ED 100%);
    border-radius: 12px;
    font-family: "Montserrat", sans-serif!important;
}
.btn-claim-bil {
    background: linear-gradient(180deg, #FDC830 0%, #F37335 100%);
}

.custom-button1,.custom-button2{
    border: none;
}
button:focus{
    outline: none;
    border: none;
}


.box-banner-section-inner{
    background: linear-gradient(96.09deg, rgba(255, 255, 255, 0.6) 2.52%, rgba(255, 255, 255, 0.36) 96.27%);
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 35px;
    text-align: center;
    padding: 50px 0 60px;
}

.banner-subtitle {
font-family: Montserrat!important;
font-style: normal;
font-weight: 800;
font-size: 42px;
line-height: 51px;
text-align: center;
letter-spacing: 0.15em;
}

.banner-title{
font-family: Montserrat!important;
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 122px;
/* identical to box height */

text-align: center;
letter-spacing: 0.15em;

text-shadow: 7px 7px 2px #FFFFFF;
}

.text{
font-family: Montserrat!important;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
/* identical to box height */

text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.banner-section{
    padding: 140px 0 150px;
}
.btn-playing-now {
    padding: 10px 80px;
}
.time-countdown{
    font-family: Montserrat!important;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    color:#56CCF2;
}
.lottery-result.result-page{
    padding-top: 90px;
    padding-bottom: 0px;
}

.section-header .title{
font-family: Montserrat!important;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 51px;
text-align: center;
letter-spacing: 0.3em;

color: #2F80ED;
}

.result-page .text{
    font-family: Montserrat!important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #707A83;
}

.header-top-area-inner span{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    color: #F08721!important;

}

.pick-number-area .cart-summary{
    background-image: url("/assets/images/result-bg.jpg");
}

.header-section.header-active a{
    color: #fff;
    border-radius: 9px;
    background: linear-gradient(180deg, #56CCF2 0%, #2F80ED 100%);
}

.header-section.header-active{
    background: #fff;
}

.box-buy-ticket{
    justify-content: center!important;
    border-bottom: none!important;
    padding-top: 20px;
}

.box-buy-ticket button{
padding: 10px 55px;
}

.box-detail-result-inner{
    padding: 5px 10px;
    background: #F5F9FF;
    border-radius: 22px;
}
.time-countdown span{
    color: #2F80ED!important;
}
.lottery-result.result-page{
    border-bottom: 1px solid #e0e0e0;
}

.result-list .single-list .color-area .bottom h6{
    font-size: 35px;
}

.box-buy-ticket .btn-top,.btn-playing-now{
    font-size: 25px;
}