.block-connect-wallet{
    text-align: center;
    color: rgb(40, 13, 95)!important;
}
.block-connect-wallet p{
    color: rgb(40, 13, 95)!important;
}

.modal-connect .ant-modal-header {
    -webkit-box-align: center;
    align-items: center;
    background: linear-gradient(
139.73deg, rgb(61 222 52) 0%, rgb(32 162 42) 100%);
    border-bottom: 1px solid rgb(231, 227, 235);
    /*display: flex;*/
    /*padding: 12px 24px;*/
}
.block-connect-wallet button{
    background: none;
}
.block-connect-wallet button:hover{
    opacity: 0.5;
}

.single-pick .body-area input {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    background: #ededff;
    background-image: -o-linear-gradient(4deg, #ec038b 0%, #fb6468 44%, #fbb936 100%);
    background-image: linear-gradient(
86deg, #ec038b 0%, #fb6468 44%, #fbb936 100%);
    -webkit-box-shadow: 0px 7px 7px 0px rgb(243 42 126 / 23%);
    box-shadow: 0px 7px 7px 0px rgb(243 42 126 / 23%);
    color: #fff;
    border-radius: 50%;
    border: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wallet-logo {
    align-self: center;
    fill: rgb(31, 199, 212);
    flex-shrink: 0;
}




.details-box{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
    box-shadow: 0px 3px 43px 0px rgb(12 0 255 / 10%);
    background: #ffffff;
    outline: none;
}
.details {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
}

.detail-btn {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: none;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
}
.detail-btn:focus{
    outline: none;
}

.match-first-title{
    color: rgb(118, 69, 217);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}
.match-reward{
    color: rgb(40, 13, 95);
    font-weight: 600;
    line-height: 1.5;
    font-size: 20px;
}
.match-reward-sub{
    color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

.match-reward-each{
    color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}
.match-reward-count{
        color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px
}
.prize-pot{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;}

.totalPot{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
}
.left-detail{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.box-details-inner{
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 3px 43px 0px rgb(12 0 255 / 10%);
}

.input-round-wrapper{
    border-radius: 10px;
    text-align: center;
}

.custom-button-add-ticket {
    background-image: linear-gradient(0deg, #007bff 0%, #007bff 100%)
}